# =========================
# Python virtual environment
# =========================
.venv/
venv/
ENV/

# =========================
# Python cache / bytecode
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Test & Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Logs
# =========================
*.log

# =========================
# OS-specific
# =========================
.DS_Store
Thumbs.db